* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    /* bcoz of css bug */
    padding-top: 0.1px;
}

#nav {
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
}

#nav h2 {
    height: 100%;
    width: 19.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 28px;
    font-weight: 600;
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#centre {
    height: 90%;
    width: 100%;
    padding: 4vw;

    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-size: 3.6vw;
    font-weight: 100;
    color: #fff;
}


#over1 h2 {
    font-size:2vw;
    font-weight: 100;
    color: #fff;
    padding: 2vw 2.2vw;
    border: 1.5px solid #fff;
    border-radius: 50%;
    border-bottom: 3px solid #fff;
}
#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #FFF;
    padding: 1.5vw 0;
}

#over2 h4 {
    font-size: 1.6vw;
    font-weight: 500;
    color: #fff;

}
#over2 img {
   height: 3vw;
}
