* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    /* bcoz of css bug */
    padding-top: 0.1px;
}

/* navigation bar */

#nav {
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



#nav h1 {
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
}


#nav h2 {
    height: 100%;
    width: 19.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 28px;
    font-weight: 600;
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#centre {
    height: 90%;
    width: 100%;
    padding: 4vw;

    position: relative;
}

/* hero section */

#content {
    height: 100%;
    width: 100%;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-size: 3.6vw;
    font-weight: 100;
    color: #fff;
}

#over1 h2 {
    font-size: 2vw;
    font-weight: 100;
    color: #fff;
    padding: 2vw 2.2vw;
    border: 1.5px solid #fff;
    border-radius: 50%;
    border-bottom: 3px solid #fff;
}
#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h4 {
    font-size: 1.6vw;
    font-weight: 500;
    color: #fff;
}
#over2 img {
    height: 3vw;
}

/* scroller */

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 120%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: scrollAnim;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroll img {
    width: 15%;
    height: 100%;
    margin: 1vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30;
}

@keyframes scrollAnim {
    from {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#alphabet {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 2vw;
}

#alphabet h5 {
    font-size: 1.7vw;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 3px;
}

#alphabet h6 {
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    padding: 0.6vw 0.8vw;
    border-radius: 50%;
    border: 1px solid #00000000;
    cursor: pointer;
    transition: all 0.2s ease;
}

#alphabet h6:hover {
    border: 2px solid #000;
}

#page2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1 {
    height: 100%;
    width: 50%;
    background-image: url(https://i.pinimg.com/1200x/de/2f/4c/de2f4c6447e0e78ba6608fd22c435b78.jpg);
    background-size: cover;
    background-position: center;
}

#page2-part2 {
    height: 100%;
    width: 46%;
}

#page2-part2 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page2-part2 #text-content {
    display: flex;
    justify-content: space-between;
}

#page2-part2 #text-content h3 {
    width: 48%;
    font-size: 3.2vw;
    font-weight: 600;
    margin-top: 1vw;
}

#page2-part2 #text-content h4 {
    width: 42%;
    font-size: 2.5vw;
    font-weight: 400;
    margin-top: 1vw;
}

#page3 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page3-part2 {
    height: 100%;
    width: 50%;
    background-image: url(https://i.pinimg.com/1200x/de/2f/4c/de2f4c6447e0e78ba6608fd22c435b78.jpg);
    background-size: cover;
    background-position: center;
}

#page3-part1 {
    height: 100%;
    width: 46%;
}

#page3-part1 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page3-part1 #text-content {
    display: flex;
    justify-content: space-between;
}

#page3-part1 #text-content h3 {
    width: 48%;
    font-size: 3.2vw;
    font-weight: 600;
    margin-bottom: 1vw;
}

#page3-part1 #text-content h4 {
    width: 42%;
    font-size: 2.5vw;
    font-weight: 400;
    margin-bottom: 1vw;
}

#page4 {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
}

#page4 > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: 600;
    margin-bottom: 7vh;
}

.elem {
    height: 15vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    left: 5%;
    position: absolute;
    transition: all 0.8s ease;
    opacity: 0;
}

.elem h4 {
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem .elem-part2 {
    width: 45%;
}

.elem-part2 h1 {
    font-size: 2.5vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid #000;
}
.elem:nth-last-child(3) img {
    left: 40%;
}
.elem:nth-last-child(1) img {
    left: 40%;
}

.elem:hover img {
    opacity: 1;
    left: 22%;
}

.elem:hover {
    background-color: rgba(241, 238, 232, 0.644);
}

#marque{
    /* height: 20vh; */
    width: 100%;
    border-top: 2px solid black;
    padding: 1vw;
    white-space: nowrap;
    overflow: hidden;
}

#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - 2%));
    }
}

#footer {
    height: 100%;
    width: 100%;
    border-top: 2px solid black;
}
